

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #f5f5f5;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}


nav {
  height: 75px;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: center; 
  align-items: center; 

}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes the logo to the left and nav links to the right */
  height: 100%;
  margin: auto 20px;
  width: 1240px;
  @media (min-width: 769px) {
    max-width: 1240px;
  }
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  vertical-align: baseline;
}

.navbar-links {
  display: flex;
  align-items: center;
  font-family: var(--pop);
  font-weight: 300;
}

.nav-link {
  margin-right: 32px;
  text-decoration: none;
  color: #1d1d23;

  font-size: 15px;
}

.nav-link:hover {
  transition: .3s;
  color: #db9423;
}

.phone-number-link{
  transition: .3s;
  margin-left: 1rem;
}
.phone-number-link:hover{
  transition: .3s;
  color: #db9423;
  
}

/** Hero Section */
.hero-section{
  height: 90vh; 
  position: relative;
  background: linear-gradient( rgba(0, 15, 26, 0.4), rgba(0, 0, 0, 0.6) ), url('./assets/homeAssets/hero-paneer-tikka.jpeg') no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 30%;
  align-items: center;
  text-align: center;
  font-family: var(--pop4);
  
  
}



.hero-content-container{
  padding-top: 4.5rem;
  overflow: hidden;

}


.hero-section h1{
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  /* line-height: px; */
  font-size: 80px;
  color: white;

  @media screen and (min-width: 1800px) {
    font-size: 100px;
  }

}


.hero-section h3{
  font-family: 'Abril Fatface',serif;
  font-size: 30px;
  color: #db9423;

}

.hero-section h4{
  color: white;
  font-family: var(--pop);
  font-weight: 300;
  font-size: 1.5rem;

}

.hero-buffet{
  margin: 2rem 0;
  
  @media screen and (min-width: 1800px) {
    margin: 3rem 0;
  }
}

.hero-section p{
  color: white;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-family: var(--pop4);
}

.hero-section .hero-buffet-title{
  font-family: 'Abril Fatface',serif;

}


.hero-buttons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-btn-container{
  width: 20%;
  height: 10%;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.hero-phone-number{
  font-size: 3rem;
  color: white !important;
}
button{
  border-radius: 50px;
  width: 180px;
  padding: 4%;
  font-family: var(--pop);
  background: transparent;
  color: white;
  border: solid #db9423 1px;
  transition: .3s;
  font-size: 14px;
}
.hero-phone-container{
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}
.hero-section .phone-icon{
  margin-left: 1rem;
  color: white;
}

button:hover{
  transition: .3s;
  background-color: #db9423;
  cursor: pointer;
}

.triangle-left,
.triangle-right {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  content: '';
}


.triangle-left {
  left: 0;
  border-right: 50vw solid transparent;
  border-bottom: 50px solid #f5f5f5;
}


.triangle-right {
  right: 0;
  border-left: 50vw solid transparent;
  border-bottom: 50px solid #f5f5f5;
}






/** MENU */

.menu-section .dining-menu-text{
  font-size: 16px;
}



.menu-section{
  align-items: center;
  text-align: center;
  padding: 3rem 0; 
  position: relative;
 padding-bottom: 5rem;
 background-color: #f5f5f5;
}

.menu-content-container{
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 2rem 0;
  max-width: 95vw;
  margin: 0 auto;
  overflow: hidden;
}

.triangle {
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the triangle horizontally */
  transform: translateX(-50%); /* Move it back by 50% of its own width */
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50px solid #f5f5f5;
}



.menu-section p{
   font-size: 14px;
}
.menu-heading{
  padding: 2rem 0;
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 80px;
  color: #db9423;

}

.menu-food-map{
  text-align: center;
    display: grid;
grid-template-columns: repeat(2, 1fr);
max-width: 1200px;
margin: 0 auto;
position: relative;

}

@media screen and (max-width: 900px){
  .menu-food-map{
      text-align: center;
        display: grid;
    grid-template-columns: 1fr;
  
  }
  
}


.menu-category{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 1.5rem;
  transition: 0.3s;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  position: relative;

}

.menu-buffet-dropdown{
  position: relative;
}

.dining-menu-heading{
  font-family: 'Abril Fatface', serif;
  font-size: 56px;
  color: #db9423;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.menu-category-heading{
  text-align: center;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
     color: #3b3730;
       cursor: pointer;
}

.menu-food-title{
  color: #ba7d1d;
  
}

.menu-category-dropdown{
  padding-bottom: 5px;
      margin-top: .6rem;
  margin-left: .4rem;
  size: 30px;
  color: #db9423;

}


.menu-food{
transition: 0.3s;
margin-left: 1.5rem;
margin-right: 1.5rem; 
padding: 5px 10px;
margin-top: 1rem;
margin-bottom: 1rem;
position: relative; 

}

.menu-food::before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  height: 1px; 
  bottom: -5px; 
  width: 33%; 
  background-color: #2181aa;
}


.menu-food-header{
  font-family: var(--pop);
  margin-top: 1rem;
  font-size: 20px;
}

.menu-food-text{
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
  font-family: var(--pop);
  font-size: 14px;
}

.menu-food-price{
   color: #3b3730;

}

/** Find Us */



.findus-section{
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f5f5f5;

}

.findus-content-container{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding: 2rem 8vw;
    max-width: 95vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    overflow: hidden;
    @media (min-width: 1900px) {
      padding: 2rem 16vw;
    }
    @media (min-width: 1685px) {
      padding: 2rem 12vw;
    }



    
}



.findus-heading{
  padding: 1rem 0;
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 45px;
  color: #db9423;
  background-color: white;
  max-width: 95vw;
  margin: 0 auto;
  margin-top: 1rem;
} 



.findus-content {
  max-width: 33vw;
  text-align: left;
  margin: 0 auto;
  padding-left: 5rem;

}



.findus-subtitle{
  font-family: 'Abril Fatface', serif;
  color: #ba7d1d;
  font-size: 32px;
  font-weight: 500;
  margin-top: 2rem;
  letter-spacing: 0.04em;
  margin-bottom: 1rem;
  line-height: 29.9px;
}

.findus-section #visit-us{
  width: 128px;
  color: black;
  margin: 2rem 0;
  padding: 1rem 0;
}

#visit-us:hover{
  transition: .3s;
  color: white;
}

.findus-content p{
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
}


.findus-map iframe{
  border-radius: 50px;
  border: 1px solid #2181aa;
  margin-left: 4rem;
}


/* 
.findus-section #visit-us{
  color: black;
}
.findus-heading{
    padding: 2rem 0;
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 45px;
  color: #db9423;
} */
/* 
.findus-address{
    font-size: 20px;
    font-weight: 600;
    margin-left: .5px;
    margin-left: 1rem;
    letter-spacing: 0.04em;
}



.findus-time{
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    margin-left: 1rem;
    color: black;
}




 */


/** Footer */
footer{
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 20vh;
  padding: 2rem 0;
  border-top: white solid 12px;
}
footer p{
  font-size: 13px;
      color: black;
}

footer #web-hill{
  color: #2181aa;
  transition: 0.3s;
  font-size: 14px;
}

footer #web-hill:hover{
  color: #2181aa;
  transition: 0.3s;
  text-decoration: underline;
}


/* footer .footer{

} */

/* 



 */
