/* :root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}


nav {
  height: 75px;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: center; 
  align-items: center; 

}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes the logo to the left and nav links to the right */
  height: 100%;
  margin: auto 20px;
  width: 1240px;
  @media (min-width: 769px) {
    max-width: 1240px;
  }
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  vertical-align: baseline;
}

.navbar-links {
  display: flex;
  align-items: center;
  font-family: var(--pop);
  font-weight: 300;
}

.nav-link {
  margin-right: 32px;
  text-decoration: none;
  color: #1d1d23;

  font-size: 15px;
}

.nav-link:hover {
  transition: .3s;
  color: #db9423;
}


/** Hero Section */
.hero-section{
  height: 90vh; 
  position: relative;
  background: linear-gradient( rgba(0, 15, 26, 0.4), rgba(0, 0, 0, 0.6) ), url('/assets/homeAssets/hero-paneer-tikka.jpeg') no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 30%;
  align-items: center;
  text-align: center;
  font-family: var(--pop4);
  
  
}



.hero-content-container{
  padding-top: 60px;
  overflow: hidden;

}


.hero-section h1{
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  line-height: 117px;
  font-size: 100px;
  color: white;

}


.hero-section h3{
  font-family: 'Abril Fatface',serif;
  font-size: 30px;
  color: #db9423;

}

.hero-section h4{
  color: white;
  font-family: var(--pop);
  font-weight: 300;
  font-size: 1.5rem;

}

.hero-buffet{
  margin: 4rem 0;
}

.hero-section p{
  color: white;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-family: var(--pop4);
}




.hero-buttons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-btn-container{
  width: 20%;
  height: 10%;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
button{
  border-radius: 50px;
  width: 60%;
  padding: 4%;
  font-family: var(--pop);
  background: transparent;
  color: white;
  border: solid #db9423 1px;
  transition: .3s;
  font-size: 14px;
}

button:hover{
  transition: .3s;
  background-color: #db9423;
  cursor: pointer;
}

.triangle-left,
.triangle-right {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  content: '';
}


.triangle-left {
  left: 0;
  border-right: 50vw solid transparent;
  border-bottom: 50px solid white;
}


.triangle-right {
  right: 0;
  border-left: 50vw solid transparent;
  border-bottom: 50px solid white;
}







/** MENU */

.menu-section{
  align-items: center;
  text-align: center;
  padding: 2rem 0 ;
}


.menu-section p{
   font-size: 14px;
}
.menu-heading{
  padding: 2rem 0;
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 80px;
  color: #db9423;

}

.menu-food-map{
  text-align: center;
    display: grid;
grid-template-columns: repeat(2, 1fr);
max-width: 1200px;
margin: 0 auto;
position: relative;

}

@media screen and (max-width: 900px){
  .menu-food-map{
      text-align: center;
        display: grid;
    /* grid-template-columns: 1fr; */
    /* gap: .5em;
    padding: .5em 0; */
    grid-template-columns: 1fr;
  
  }
  
}


.menu-category{
  display: flex;
  justify-content: center;
  align-items: center;
   /* border: 3px double #b49c18;
   border-top-left-radius:20px;
  border-top-right-radius: 20px; */
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 1.5rem;
  margin-bottom: .5rem;
transition: 0.3s;
max-width: 1200px;
margin: 0 auto;
padding: 1.5em;
position: relative;

}

.menu-buffet-dropdown{
  position: relative;
}

/* .menu-buffet-dropdown::before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  height: 1px;
  bottom: -5px; 
  width: 25%; 
  background-color: rgb(221, 176, 176); 
} */

.dining-menu-heading{
  font-family: 'Abril Fatface', serif;
  font-size: 40px;
  color: #db9423;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.menu-category-heading{
  text-align: center;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
     color: #3b3730;
       cursor: pointer;
}

.menu-food-title{
  color: #ba7d1d;
  
}

.menu-category-dropdown{
  padding-bottom: 5px;
      margin-top: .6rem;
  margin-left: .4rem;
  size: 30px;
  color: #db9423;

}


.menu-food{
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
transition: 0.3s;
/* border-radius: 5px; */
margin-left: 1.5rem;
margin-right: 1.5rem; 
padding: 5px 10px;
margin-top: 1rem;
margin-bottom: 1rem;
/* border-bottom: solid 1px rgb(221, 176, 176); */
position: relative; 

/* background-color: #fbe5c7; */

}

.menu-food::before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  height: 1px; /* Set the desired thickness */
  bottom: -5px; 
  width: 33%; 
  background-color: #2181aa;
}

/* .menu-food::before {
  left: 0; 
} */

/* .menu-food::after {
  right: 0; 
} */


/* .menu-food:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

} */
.menu-food-header{
  font-family: var(--pop);
  margin-top: 1rem;
  font-size: 20px;
}

.menu-food-text{
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
  font-family: var(--pop);
  font-size: 14px;
}

.menu-food-price{
   color: #3b3730;

}

/** Find Us */



.findus-section{
  background-color: #fff6ea;
  display: flex;
  padding-top: 1px;
  align-items: center;
  text-align: center;

}

.findus-content-container{
    text-align: center;
    align-items: center;
}


.findus-section #visit-us{
  color: black;
}
.findus-heading{
    padding: 2rem 0;
  font-family: 'Abril Fatface', serif;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 45px;
  color: #db9423;
}
/* 
.findus-address{
    font-size: 20px;
    font-weight: 600;
    margin-left: .5px;
    margin-left: 1rem;
    letter-spacing: 0.04em;
}

.findus-subtitle{
  font-weight: 500;
  font-size: 36px;
}

.findus-subtitle{
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 29.9px;
    font-size: 35px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.findus-subtitle{
    margin-top: 2rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 35px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.findus-time{
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    margin-left: 1rem;
    color: black;
}

.findus-map{
    border: 4px double black;
    width: 100%;
} 


 */


/** Footer */
footer{
  text-align: center;
  align-items: center;
  background-color: black;
  height: 6rem;
  padding: 2rem 0;

}

footer p{
  font-size: 13px;
      color: rgb(255, 255, 255);
}

footer #web-hill{
  color: #2181aa;
  transition: 0.3s;
}

footer #web-hill:hover{
  color: #2181aa;
  transition: 0.3s;
  text-decoration: underline;
}

